@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
}

body {
  background-color:transparent;
  background-image:url('/assets/images/contactpage.jpg'); 
  background-size:cover ;
  background-repeat: no-repeat;
  
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #3e3c3c;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #403e3d;
  max-width: 768px;
  margin: 0px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
background-color:transparent;
color: rgb(63, 59, 59);
}

h1 {
  color: #0e0d0d;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #131312;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
    display: flex;
   margin-right: 40%;
  color: rgb(20, 18, 18);
  /* margin:50px;
  width: 100px; */
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 150px;
    width: 150px;
    mix-blend-mode: darken;
}
.img img {
    margin-top:20%;
    margin-left: 400%;
    max-width: 100%;
    max-height: 900%;
}

.icon {
  display:flex;
  height: 50px;
  margin:0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
    padding:25%;
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #0d0d0c;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  /* -moz-appearance: none;
  -webkit-appearance: none; */
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #060605;
}

:-moz-placeholder { 
	color: #090908;
	opacity: 1;
}

::-moz-placeholder {
	color: #0c0c0c;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #f2f0ef;
}

#form_button {
  background: none;
  border: solid 2px #080808;
  color: #413e3e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #070707;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
    
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  height: 12vh;
  z-index: var(--z-fixed);
  background-color: #e1a141;
}

.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  justify-content: flex-end; /* Align menu items to the right */
  flex-grow: 1; /* Allow menu items to take up remaining space */
}

.nav__menu ul {
  display: flex;
  list-style: none;
}

.nav__menu li {
  margin-left: 15px; /* Adjust spacing between menu items */
}

.nav__link,
.navlogo,
.nav_toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo {
  margin-right: auto; /* Push the logo to the left */
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}
