<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <header class="l-header" id="header">
    <nav class="nav bd-container">
        <div class="logo">
        <img src="/assets/images/logo.jpg"  width="105" height="65" alt="Shopping Baasket logo">
    </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav_item"><a href="/home" class="nav_link active-link"> Home </a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/order" class="nav_link"> Order </a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/aboutus" class="nav_link"> About us </a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/contact" class="nav_link">Help</a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/cart" class="nav_link">Cart</a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/login" class="nav_link">Login</a></li>&nbsp;&nbsp;
            </ul>
        </div>
      
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>
<div id="container">
   
    <div class="icon_wrapper">
      <div class="img" viewBox="0 0 145.192 145.192">
        
        <img src="/assets/images/contacticon1.jpg">
      </div>
    </div>
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="My name is" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="My e-mail is" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="My number is" name="telephone" id="telephone_input" required>
      </div>
      <div class="subject">
        <label for="subject"></label>
        <select placeholder="Subject line" name="subject" id="subject_input" required>
          <option disabled hidden selected>Subject line</option>
          <option>I'd like to give feedback on food</option>
          <option>I'd like to rate on hotel</option>
          <option>Other's</option>
        </select>
      </div>
      <div class="message">
        <label for="message"></label>
        <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5" required></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Send Message" id="form_button" />
      </div>
    </form><!-- // End form -->
  </div><!-- // End #container -->
  </body>
