<header class="l-header" id="header">
    <nav class="nav bd-container">
        <div class="logo">
        <img src="/assets/images/logo.jpg"  width="105" height="65" alt="Shopping Baasket logo">
    </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav_item"><a href="/home" class="nav_link active-link"> Home </a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/order" class="nav_link"> Order </a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/aboutus" class="nav_link"> About us </a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/contact" class="nav_link">Help</a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/cart" class="nav_link">Cart</a></li>&nbsp;&nbsp;
                <li class="nav_item"><a href="/login" class="nav_link">Login</a></li>&nbsp;&nbsp;
            </ul>
        </div>
      
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>

<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
<div [class.active]="bodyActive" class="shopping">
    <!-- Shopping cart content -->
    <div class="list">
        <div class="item" *ngFor="let product of products">
            <img [src]="'/assets/images/' + product.image" alt="">
            <div class="title">{{ product.name }}</div>
            <div class="price">{{ product.price.toLocaleString() }}</div>
            <button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </div>
</div>

<!-- Cart sidebar -->
<div class="cart-sidebar" [class.active]="bodyActive">
    <button class="closeShopping" (click)="closeShopping()">Close</button>
    <ul class="listCard">
        <li *ngFor="let item of cartItems; let i = index">
            <img [src]="'/assets/images/' + item.image" alt="">
            <div>{{ item.name }}</div>
            <div>{{ item.price.toLocaleString() }}</div>
            <div>
                <button (click)="decrementQuantity(item)">-</button>
                <div class="count">{{ item.quantity }}</div>
                <button (click)="incrementQuantity(item)">+</button>
            </div>
            <button (click)="removeFromCart(i)">Remove</button>
        </li>
    </ul>
    <div class="total">{{ getTotalPrice().toLocaleString() }}</div>
    <div class="quantity">{{ cartItems.length }}</div>
</div>
