<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Log In</h4>
                    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">
                      <div class="form-group">
                        <input type="email" formControlName="email" class="form-style" placeholder="Your Email" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-at"></i>
                      </div> 
                      <div class="form-group mt-2">
                        <input type="password" formControlName="password" class="form-style" placeholder="Your Password" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <button type="submit" class="btn mt-4">Submit</button>
                    </form>
                    <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                  </div>
                  <div id="g_id_onload"
     data-client_id="589570013889-m9toth0heaa5tovs2nj6a2qkf088s9b2.apps.googleusercontent.com"
     data-context="signin"
     data-login_uri="http://localhost:4200/login/"
     data-auto_select="true"
     data-itp_support="true">
     <!-- <re-captcha [(ngModel)]="captchaResponse"></re-captcha> -->

</div>
                </div>
              </div>
             
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Register</h4>
                    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit(registerForm.value)">
                      <div class="form-group">
                        <input type="text" formControlName="name" class="form-style" placeholder="Your Full Name" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-user"></i>
                      </div> 
                      <div class="form-group mt-2">
                        <input type="email" formControlName="email" class="form-style" placeholder="Your Email" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-at"></i>
                      </div> 
                      <div class="form-group mt-2">
                        <input type="password" formControlName="password" class="form-style" placeholder="Your Password" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <div class="form-group">
                        <input type="text" formControlName="location" class="form-style" placeholder="Your Location" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-user"></i>
                      </div> 
                      <div class="form-group">
                        <input type="text" formControlName="city" class="form-style" placeholder="Your City" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-user"></i>
                      </div> 
                      <div class="form-group">
                        <input type="text" formControlName="pincode" class="form-style" placeholder="Your Pincode" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-user"></i>
                      </div> 
                      <div class="form-group">
                        <input type="tel" formControlName="mobileNumber" class="form-style" placeholder="Your Mobile Number" autocomplete="off">
                        <!-- Add validation messages here -->
                        <i class="input-icon uil uil-user"></i>
                      </div> 
                      <button type="submit" class="btn mt-4">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function handleCaptchaResponse(response) {
          angular.element(document.getElementById('registerComponent'))
              .scope()
              .$ctrl.handleCaptchaResponse(response);
      }
  </script>
  </div>
</div>
