<!-- <button type="button" class="btn btn-info">Info</button> 
<app-login></app-login>
 <app-ind></app-ind>
<app-home></app-home>
<app-contactpage></app-contactpage>
-->
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-ind></app-ind> -->

<!-- <app-cart></app-cart> -->
 

 
 