body {
    background-color:black;
    }
    
    
    /* ----------navbar---------- */
    .nav {
      display: flex;
      position: fixed;
      top: 20px;
      right: 20px;
      border-radius: 40px;
      box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
      background-color: rgb(223, 157, 36);
      z-index: 1000;
    }
    
    .nav-item {
      color: #fff;
      padding: 20px;
      text-decoration: none;
      transition: .3s;
      margin: 0 6px;
      z-index: 1;
      font-family: 'DM Sans', sans-serif;
      font-weight: 500;
      position: relative;
    
      &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: .3s;
      }
    }
    
    .nav-item:not(.is-active):hover:before {
      opacity: 1;
      bottom: 0;
    }
    
    .nav-item:not(.is-active):hover { color: #333; }
    
    .nav-indicator {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      transition: 0.4s;
      height: 5px;
      z-index: 1;
      border-radius: 8px 8px 0 0;
    }
    
    /* -----Home page-------- */
    .content {
      width: 100%;
      position: relative;
      text-align: center;
      color: #fff;
      padding: 80px 0;
      background-image: url('/assets/images/royal-plate.png'); 
      background-repeat: no-repeat;
      background-size: cover; 
    }
    
    .content h1 {
      font-size: 70px;
      margin-top: 20px;
      color: orange;
    }
    h4{
      color: burlywood;
    }
    
    .content p {
      margin: 20px auto; 
      max-width: 750px; /* Set a maximum width for the paragraph */
      font-weight: 100;
      line-height: 25px;
      color: whitesmoke;
      font-family:monospace;
    }
    
    button {
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid cyan;
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    
    span {
      background: #009688;
      height: 100%;
      width: 0;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.5s;
    }
    
    button:hover span {
      width: 100%;
    }
    
    button:hover {
      border: none;
    }
    
    /* --------Services -------*/
    
    .container {
      width: 1200px !important;
      padding: 0 !important;
      margin-right: auto;
      margin-left: auto;
    
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        max-width: 1279px !important;
        padding: 0 !important;
        margin: 0 80px !important;
        width: auto !important;
      }
    
      @media screen and (max-width: 991px) {
        max-width: 959px !important;
        margin: 0 16px !important;
        padding: 0 !important;
        width: auto !important;
      }
    }
    
    .gradient-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      padding: 30px;
      @media screen and (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }
    
    .container-title{
      font-size: 30px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      color: #fff;
    }
    .container-card {
      position: relative;
      border: 2px solid transparent;
      background: linear-gradient(71deg, #080509, #1a171c, #080509);
      background-clip: padding-box;
      border-radius: 45px;
      padding: 40px;
      position: relative;
    }
    
    .card {
      position: relative;
    }
    
    .container-card img {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 70px;
      width: 90px;
      margin-right: 10px;
      background-color: rgba(245, 245, 245, 0.533); /* Add some margin to the right to avoid text overlap */
    }
    
    .card-title {
      font-weight: 600;
      color: white;
      align-items: center;
      letter-spacing: -0.02em;
      line-height: 40px;
      font-style: normal;
      font-size: 28px;
      padding-bottom: 8px;
      margin-top: 40px; /* Add margin to the top of the title */
    }
    
    
    .card-description {
      font-weight: 600;
      line-height: 32px;
      color: hsla(0, 0%, 100%, 0.5);
      font-size: 16px;
      max-width: 470px;
      margin-top: 10px; /* Add margin to the top of the description */
    }
    
    
    
    .bg-green-box,
    .bg-white-box,
    .bg-yellow-box,
    .bg-blue-box {
      position: relative;
    }
    
    .bg-green-box::after,
    .bg-white-box::after,
    .bg-yellow-box::after,
    .bg-blue-box::after {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      content: "";
      z-index: -1;
      border-radius: 45px;
    }
    
    .bg-green-box::after {
      background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
    }
    
    .bg-white-box::after {
      background: linear-gradient(71deg, #121013, #b0afb0, #121013);
    }
    
    .bg-yellow-box::after {
      background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
    }
    
    .bg-blue-box::after {
      background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
    }