<body>
    <form action="" method="post">
        <div class="elem-group">
          <label for="name">Your Name</label>
          <input type="text" id="name" name="visitor_name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
        </div>
        <div class="elem-group">
          <label for="email">Your E-mail</label>
          <input type="email" id="email" name="visitor_email" placeholder="john.doe@email.com" required>
        </div>
        <div class="elem-group">
          <label for="phone">Your Phone</label>
          <input type="tel" id="phone" name="visitor_phone" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
        </div>
        <hr>
        <div class="elem-group inlined">
          <label for="adult">Adults</label>
          <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
        </div>
        <div class="elem-group inlined">
          <label for="child">Children</label>
          <input type="number" id="child" name="total_children" placeholder="2" min="0" required>
        </div>
        <div class="elem-group ">
          <label for="checkin-time">Check-in Time</label>
          <input type="time" id="checkin-time" name="checkin" required>
        </div>
    
        <div class="elem-group">
            <label for="room-selection">Select The Hotel</label>
            <select id="room-selection" name="room_preference" required>
                <option value="">Select The Hotel's</option>
                <option value="Nawaabs">Nawaabs</option>
                <option value="Barbeque">Barbeque</option>
                <option value="Absolute Barbeque">Absolute Barbeque</option>
                <option value="Nayaab">Nayaab</option>
                <option value="Pizza Zone">Pizza Zone</option>
                <option value="Mystery Homes">Mystery Homes</option>
                <option value="Kritunga">Kritunga</option>
                <option value="Varalaxmi Tiffins">Varalaxmi Tiffins</option>
                <option value="Mandi King">Mandi King</option>
                <option value="Manchi Baphe">Manchi Baphe</option>
                <option value="Bhale Banti Bojanam">Bhale Banti Bojanam</option>
                <option value="Palleturi Dosa">Palleturi Dosa</option>
      
            </select>
          </div>
       
        <div class="elem-group">
          <label for="room-selection">Select Table Preference</label>
          <select id="room-selection" name="room_preference" required>
              <option value="">Book a table</option>
              <option value="Candle Light">Candle Light</option>
              <option value="Corner with City View">Corner with City View </option>
              <option value="Family Table">Family Table</option>
              <option value="Party">Party Table</option>
    
          </select>
        </div>
        <hr>
        <div class="elem-group">
          <label for="message">Anything Else?</label>
          <textarea id="message" name="visitor_message" placeholder="Tell us anything else that might be important." required></textarea>
        </div>
    <a href="/home"><button type="submit">Book The Table</button></a>
      </form>
      </body>