* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pop;
}

.about_section {
    width: 100%;
    height: auto;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 13%;
    font-family: pop;
}

.about_img img {
    width: 410px;
    transform: translateY(50px);
    height: 450px;
    border-radius: 30px;
    right:5%
}

.about_details h1 {
    font-size: 58px;
    color: #fff;
    position: relative;
}

.about_details h1::after {
    content: " ";
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: #f39c12;
    border-radius: 5px;
    left: 0;
    bottom: 2px;
}

.about_details p {
    font-size: 15px;
    color: #fff;
    max-width: 480px;
    margin: 30px 0 45px 0;
    line-height: 29px;
}

.btn {
    padding: 10px 25px;
    border: 2px solid #f39c12;
    border-radius: 5px;
    color: #f39c12;
    text-decoration: none;
    margin: 30px 0;
    transition: all .5s ease;
    font-weight: 600;
}

.btn:hover {
    background-color: #f39c12;
    color: #333;
}

.btn1 {
    margin-right: 15px;
    background-color: #f39c12;
    color: #000;
}

.btn1:hover {
    background-color: transparent;
    color: #f39c12;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin-top as needed */
}

.icon i {
    font-size: 25px;
    padding: 10px;
    color: #f39c12;
    border-radius: 50%;
    background-color: #dcd4d4ad;
    margin: 20px 5px;
    cursor: pointer;
}

.icon i:hover {
    background-color: #f39c12;
    color: #fff;
}
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0%;
    height: 12vh;
    z-index: var(--z-fixed);
    background-color: #e1a141;
  }
  
  .nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__menu {
    display: flex;
    justify-content: flex-end; /* Align menu items to the right */
    flex-grow: 1; /* Allow menu items to take up remaining space */
  }
  
  .nav__menu ul {
    display: flex;
    list-style: none;
  }
  
  .nav__menu li {
    margin-left: 15px; /* Adjust spacing between menu items */
  }
  
  .nav__link,
  .navlogo,
  .nav_toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
  }
  
  .nav__logo {
    margin-right: auto; /* Push the logo to the left */
  }
  
  .nav__logo:hover {
    color: var(--first-color);
  }
  
  .nav__link {
    transition: 0.3s;
  }
  
  .nav__link:hover {
    color: var(--first-color);
  }
  
  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
  